ARTSEARCH_SECRET=artsearch_secret_key
PORT=your_port

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/app

JWT_ACCESS_SECRET=your-access-secret-key-here
JWT_REFRESH_SECRET=your-refresh-secret-key-here
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800